.step {
  width: 45px;
  height: 45px;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  display: inline-block;
  line-height: 43px;
  text-align: center;
}

.road {
  height: 1px;
  width: 30%;
  background: #c0c0c0;
}

.st {
  border: 1px solid #3b95ff;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.complete {
  color: #fc706f;
  border: 1px solid #3de25b;
  position: relative;
  transition: 0.2s ease;

  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    background: url('./images/accept.svg') 50% 50% no-repeat;
  }
}

.solid {
  background: #3de25b;
  transition: 0.2s ease-in;
}

.uncompleted {
  color: #e32950;
  border: 1px solid #e32950;
}