.header {
	height: 88px;
	width: 100%;
    background: #310051;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#510ed8+0,510ed8+70,8821ee+100 */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
  z-index: 4;
}

.container {
  display: flex;
  align-items: center;
}