.nav {
  height: 88px;
  min-width: 0;
  flex: auto 1 1;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.link {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #dccef7;
  padding: 10px 20px;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: #fff;
  }

  &.active {
    border-radius: 10px;
    font-weight: 700;
    padding: 10px 20px;
    background: rgba(0,0,0, 0.4);
    color: #ff716c;
  }
}


@media screen and (max-width: 860px){
  .link {
    display: none;
  }
  .nav {
    padding: 0;
  }
}